@import url(null.css);
/* zeroing */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
}


.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  height: 100px;
  background: #f32359;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  font-size: 2rem;
  color: #fff;
}
.main {
}
.entry-field {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.entry-field-flex {
  width: 600px;
  height: 35px;
  display: flex;
}
.input {
  background: #c0d5e9;
  width: 80%;
  border-radius: 20px 0 0 20px;
  padding: 15px;
  font-size: 1.25rem;
}
.entry-field__add-but {
  cursor: pointer;
  width: 20%;
  background: #5382a2;
  color: #fff;
  border-radius: 0 20px 20px 0;
  text-transform: uppercase;
  font-weight: bold;

  transition: all 350ms ease;
}
.entry-field__add-but:hover {
  background: #8675c4;
}
.tasks {
  display: flex;
  justify-content: center;
}
.tasks-flex {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 15px;
}
.task {
  height: 45px;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  border-radius: 20px;
  padding: 15px 20px;
  box-shadow: 2px 2px 5px #00000045;
}
.task-text-block {
  display: flex;
  align-items: center;
}
.checkbox {
  margin: 0 15px 0 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox+label {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 0 ;
  border: 2px solid #5382a2;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;

  transition: box-shadow 250ms ease-in-out;
}
.checkbox+label:hover {
  box-shadow: inset 0 0 2px #00000035;
}
.checkbox:checked+label {
  background: url(../fontawesome/svgs/solid/check.svg) no-repeat center center;
  background-size: 75%;
}
.task__text {
}
.task-edit-menu {
  display: flex;
  align-items: center;
  gap: 15px;
}
.task-edit-menu__edit {
  cursor: pointer;
}
.task-edit-menu__delete {
  cursor: pointer;
}

.task-edit-menu__edit:hover {
  color:#5382a2;
}
.task-edit-menu__delete:hover {
  color: #f32359;
}